        * {
            background-color: #61338b;
        }

        button {
            border: transparent;
            background: rgb(97, 51, 139);
            background: linear-gradient(90deg, rgba(97, 51, 139, 1) 10%, rgba(102, 58, 142, 1) 22%, rgba(144, 85, 199, 1) 50%, rgba(102, 58, 142, 1) 77%, rgba(97, 51, 139, 1) 92%);
            cursor: pointer;
        }

        main {
            height: 322px;
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            margin-top: -10px;
            gap: 30px;
        }

        #menu ul {
            list-style: none;
            display: flex;
            justify-content: center;
            position: relative;
            margin-top: -110px;
            background-color: transparent;
            margin-bottom: 120px;
        }

        #menu ul li {
            background-color: transparent;
        }

        #menu ul li a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            padding: 10px 20px;
            background-color: transparent;
        }

        body {
            margin: 0;
        }

        section {
            display: flex;
            flex-direction: column;
            height: 100px;
        }

        div.foto {
            display: flex;
            height: 250px;
            margin: 20px;
            margin-top: 30px;
        }

        #opa {
            border-radius: 50%;
        }

        div.dados {
            display: flex;
            height: 250px;
            margin: 20px;
        }

        #textodados {
            font-size: 16px;
            margin-top: 60px;
            margin-right: 30px;

        }

        div.icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            gap: 7px;
            margin-bottom: 0%;
        }

        div.contato {
            margin: 0%;
            display: flex;
            height: 100px;
            align-self: center;
        }

        footer {
            display: flex;
            position: relative;
        }